{% extends "base.html" %}
{% block title %}Arts & Crafts by Hina{% endblock %}
{% block css_file %}comix.css{% endblock %}
{% block js_file %}comix.js{% endblock %}
{% block content %}
    <div id="comic">
       <br>
       <br>
        {% autoescape off %}
          {% if archives %}
            {% if all_posts %}
              {% for post in all_posts %}
                <li> <div class= "link"> <a href = "/comix/{{ post.id }}/">{{ post.post_title }} </a> </div> from {{ post.pub_date }}</li> 
              {% endfor %}
            {% else %}
              <p> No archive available </p>
            {% endif %}
          
          {% else %}
            {% if latest_post %}
             <div id= "caption">
              {{latest_post.post_title}}
            </div>
              <br>
              
                  <div id = "frame">
                    <img src="../../{{latest_post.image}}" />
                  </div>           
                  <br>
            
              <div id= "caption">
              {{latest_post.post_text}}

              <br>
              {{latest_post.pub_date}}
               </div>
            {% else %}
            <p> No posts available </p>
            {% endif %}
            <br> 
            <div class="link"> <a href= "/comix/archive"> Archive of arts & crafts by hinerz</a> </div>
          {% endif %}
          {% endautoescape %}
   </div>
{% endblock %}
