{% extends "base.html" %}
{% block title %}Webcomics by Hina Sakazaki{% endblock %}
{% block css_file %}comix.css{% endblock %}
{% block js_file %}comix.js{% endblock %}
{% block content %}
    <div id="comic">
        {% autoescape off %}
          {% if archives %}
            {% if all_posts %}
              {% for post in all_posts %}
                <li> <div class= "link"> <a href = "/comix/{{ post.id }}/">{{ post.post_title }} </a> </div> from {{ post.pub_date }}</li> 
              {% endfor %}
            {% else %}
              <p> No archive available </p>
            {% endif %}
          
          {% else %}
            {% if latest_post %}
             
              {{latest_post.post_title}}
              <br>
               <div id="frame1">
                  <!-- <div id = "frame"> -->
                    <img src="../../{{latest_post.image}}" height="300" weight="300" />
                  <!-- </div>            -->
                </div>
              <br> <br> 
              {{latest_post.post_text}}
              <br> <br>
              {{latest_post.pub_date}}
              
            {% else %}
            <p> No posts available </p>
            {% endif %}

            <br>
            <br> 
            <div class="link"> <a href= "/comix/archive"> Archive of Comic Posts by hinerz</a> </div>
          {% endif %}
          {% endautoescape %}
   </div>
{% endblock %}
