{% extends "base.html" %}
{% block title %}Photography{% endblock %}
{% block css_file %}fotos.css{% endblock %}
{% block js_file %}fotos.js{% endblock %}
{% block content %}
   	<div id="foto">
    	<div id= "thumbnail-bar">
			<div class="thumbnail">
			    <img class="scaled" src="https://farm8.staticflickr.com/7327/13484724834_12c708d8c5.jpg"> <!-- this should be small -->
			    <div class="thumbnail-large">https://farm8.staticflickr.com/7327/13484724834_12c708d8c5.jpg</div> <!-- this is the big one -->
			</div>
			<div class="thumbnail">
			    <img class="scaled" src="https://farm8.staticflickr.com/7299/13523856304_32c9c8debd.jpg">
			    <div class="thumbnail-large">https://farm8.staticflickr.com/7299/13523856304_32c9c8debd.jpg</div>
			</div>
			<div class="thumbnail">
			    <img class="scaled" src="https://farm3.staticflickr.com/2875/13523721343_90bf2185ca.jpg">
			    <div class="thumbnail-large">https://farm3.staticflickr.com/2875/13523721343_90bf2185ca.jpg</div>
			</div>
			<div class="thumbnail">
			    <img class="scaled" src="https://farm8.staticflickr.com/7137/13595582383_f44009514f.jpg">
			    <div class="thumbnail-large">https://farm8.staticflickr.com/7137/13595582383_f44009514f.jpg</div>
			</div>
			<div class="thumbnail">
			    <img class="scaled" src="https://farm4.staticflickr.com/3685/13211228825_0d2dae43a0.jpg">
			    <div class="thumbnail-large">https://farm4.staticflickr.com/3685/13211228825_0d2dae43a0.jpg</div>
			</div>
			<div class="thumbnail">
			    <img class="scaled" src="https://farm4.staticflickr.com/3831/13180870245_a9d3c52aac.jpg">
			    <div class="thumbnail-large">https://farm4.staticflickr.com/3831/13180870245_a9d3c52aac.jpg</div>
			</div>
			<div class="thumbnail">
			    <img class="scaled" src="https://farm3.staticflickr.com/2512/13180616494_7883e65296.jpg">
			    <div class="thumbnail-large">https://farm3.staticflickr.com/2512/13180616494_7883e65296.jpg</div>
			</div>
			<div class="thumbnail">
			    <img class="scaled" src="https://farm6.staticflickr.com/5594/14147434686_8c5cfd6c9c_t.jpg">
			    <div class="thumbnail-large">https://farm6.staticflickr.com/5594/14147434686_8c5cfd6c9c_b.jpg</div>
			</div>
			<div class="thumbnail">
			    <img class="scaled" src="https://farm8.staticflickr.com/7360/13983984259_bd6e936f60_m.jpg">
			    <div class="thumbnail-large">https://farm8.staticflickr.com/7360/13983984259_bd6e936f60_b.jpg</div>
			</div>
			<div class="thumbnail">
			    <img class="scaled" src="https://farm8.staticflickr.com/7450/14191968982_66d936a7c0_n.jpg">
			    <div class="thumbnail-large">https://farm8.staticflickr.com/7450/14191968982_66d936a7c0_b.jpg</div>
			</div>
			<div class="thumbnail">
			    <img class="scaled" src="https://farm6.staticflickr.com/5521/14194404224_66fd3e69b0_n.jpg">
			    <div class="thumbnail-large">https://farm6.staticflickr.com/5521/14194404224_15bd7628fe_k.jpg</div>
			</div>

			<div class="thumbnail">
			    <img class="scaled" src="https://farm3.staticflickr.com/2901/14330429918_38720e3453_t.jpg">
			    <div class="thumbnail-large">https://farm3.staticflickr.com/2901/14330429918_38720e3453.jpg</div>
			</div>

			<div class="thumbnail">
			    <img class="scaled" src="https://farm4.staticflickr.com/3845/14330439479_4ffa36d5fb_t.jpg">
			    <div class="thumbnail-large">https://farm4.staticflickr.com/3845/14330439479_4ffa36d5fb_c.jpg</div>
			</div>

			<div class="thumbnail">
			    <img class="scaled" src="https://farm8.staticflickr.com/7513/16060957598_86dddc32f6_n.jpg">
			    <div class="thumbnail-large" >https://farm8.staticflickr.com/7513/16060957598_b78755f8bd_k.jpg</div>
			</div>

			<!-- kitchen -->
			<div class="thumbnail">
			    <img class="scaled" src="https://farm1.staticflickr.com/710/21479908763_611b9203ef_n.jpg">
			    <div class="thumbnail-large" >https://farm1.staticflickr.com/710/21479908763_d2ae1540ca_k.jpg</div>
			</div>

			<div class="thumbnail"> 
			    <img class="scaled" src="https://farm6.staticflickr.com/5778/23171956831_b98e5ef1a3_n.jpg">
			    <div class="thumbnail-large">https://farm6.staticflickr.com/5778/23171956831_b98e5ef1a3_b.jpg</div>
			</div>

			<div class="thumbnail"> <!-- beach -->
			    <img class="scaled" src="https://farm1.staticflickr.com/686/22741878067_b0188f7c37_m.jpg">
			    <div class="thumbnail-large">https://farm1.staticflickr.com/686/22741878067_4600b5aa6f_k.jpg</div>
			</div>

			<div class="thumbnail">
			    <img class="scaled" src="https://farm2.staticflickr.com/1496/23422884824_6cd522502b_n.jpg">
			    <div class="thumbnail-large">https://farm2.staticflickr.com/1496/23422884824_63a6786a19_k.jpg</div>
			</div>

		</div>

		<div id="large-img">
		    <img class="scaled" src="">
		</div>
		
		<div id= "caption">
			I got a camera in the beginning of March and have been enjoying taking photos. I have many hobbies, like music, swimming, drawing, eating, but... I guess it was a very impulsive move for me to buy a beginner DLSR after thinking about it for about a month. <br> <br>

			My pre-teen hobby was to take videos with my camcorder and make movies. At one point I aspired to be a music video director. Since I broke my camcorder in the Summer after my high school graduation, I had taken photos with my smartphone.
			<br> <br>
			It's very interesting to me how photography is evolving, along with the Smartphone revolution. I recently downloaded Snapchat, and it's been an enlightening experience. What is value of photos? An ephemeral "share"? Or a part of a portfolio? 

			<div id= "button"> <a href = "https://www.flickr.com/photos/119504228@N03/" target="_blank"> Hina's Flickr </a> </div>
		</div>
{% endblock %}