
<html>
  <head>
    <link rel="icon" type="image/x-icon" href="ico/favicon.ico" />
    <link rel="icon" type="image/png" href="ico/favicon.png" />
    
    <title>MINESWEEPER</title>

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/minesweeper.css">

    <!-- google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gentium Book Basic' rel='stylesheet' type='text/css'>

    <!-- js -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="js/minesweeper.js"></script>
    <script src="js/hinasakazaki.js"></script>

  </head>

  <body>
    <div id="header">
      <div id="nameplate"> <a href = "index.html"> HINASAKAZAKI </a> </div>

      <div id="menu">
        <div class="menu-item"> <a href = "projects.html"> projects. </a> </div>
        <div class="menu-item"> <a href = "comix.html"> webcomics. </a> </div>
        <div class="menu-item"> <a href = "fotos.html"> photography. </a> </div>
        <div class="menu-item"> <a href = "contact.html"> contact. </a> </div>
      </div>
    </div>

    <div id = "header2">
          <div class="menu-item2"> <a href = "index.html"> hinasakazaki. </a> </div>
          <div class="menu-item2"> <a href = "projects.html"> projects. </a> </div>
          <div class="menu-item2"> <a href = "comix.html"> webcomics. </a> </div>
          <div class="menu-item2"> <a href = "fotos.html"> photography. </a> </div>
          <div class="menu-item2"> <a href = "contact.html"> contact. </a> </div>
    </div>

    <div id="gameboard">
      <div id = "option-container">
        <div id= "restartGame"> Restart</div>
        <div id= "verify">  Validate<!-- <img src="img/index/welcome.png" alt="@swaggerzaki" height= "100" width="100"> --> </div>
        <div id= "cheat"> Cheat </div>
        <div id= "result"> </div>
      </div>
     
      <table class="board"></table>

    </div>


   <div id="footer">
    &copy; Hina Sakazaki 2014
    </div>

  </body>

</html>
