{% extends "base.html" %}
{% block title %}Projects by Hina Sakazaki{% endblock %}
{% block css_file %}projects.css{% endblock %}
{% block content %}

<div id = "projects-container">
    {% autoescape off %}
      {% if all_posts %}
      {% for post in all_posts %}
        <div class = "project">
           <div class = "link">
             <a href = "{{post.project_link}}">
           <div class = "pink-block">
            <div class = "pinktext">
              View Page
            </div>
            <div id = "hinerz">
               <img src="../../{{post.image}}" height= "250" width="250">
            </div>
          </div>
        </a>
      </div>
      <div class= "description">
        <div class = "title"> {{post.project_title}} </div> 
        <div class = "details"> {{post.project_text}} </div>
      </div>
    </div>
     {% endfor %}
     {% else %}
          <p> No projects available </p>
     {% endif %}
      {% endautoescape %}
</div>
{% endblock %}