
body {
	font-family: 'Gentium Book Basic', serif;
	margin: 0;
	height: 100%; 
	font-size:18;
}

#colors {
	background-color: #f57a7a;
	/*pink*/
	background-color: #ebe4e8; 
	/*gray-ish purple*/
	color: #d4c5d4;
	/*lavendar*/
	color: #ba3747;
	/*reddish*/
	color: #fac461;
	/*yellow*/
	color: #dbc5ba;
	/*brown?*/
}

#title{
	font-size:19;
	color: #4a161c;
}

#date{
	font-size:17;
	color: #d58790;
}
#header {
	font-size:20;
	z-index:5;
	font-family: 'Oswald', sans-serif;
	color: #ebe4e8; 
	position: fixed;
	display:inline-block;
	width:100%;
	background-color: #f57a7a;
	padding:20 25;
}


#header2 {
	z-index:4;
	font-family: 'Oswald', sans-serif;
	color: #ebe4e8; 
	position: fixed;
	display:inline-block;
	width:100%;
	background-color: #f57a7a;
	padding:20 25;
	height:20px;
}

#nameplate {
	float: left;
	padding-left:50;
	padding-top: 25;
	padding-bottom: 25;
	font-size: 72;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;	
}

#nameplate.scrolled{
	font-size:20px;
}

#nameplate a {
	text-decoration: none;
	color:inherit;
}
#nameplate:hover {
	color: #fac461;
}

#menu { 
	color:#ba3747;
	position: relative;
	display:inline-block;
	float: left;
	padding-left:150;
	padding-top:25;
	width:100px;
	height:100%;
}


.menu-item {
	width:100px;
	display:inline-block;
	padding-right: 50px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
}
.menu-item:hover {
	color:#fac461;
}

.menu-item a {
	text-decoration: none;
	color:inherit;
}

.menu-item2 {
	margin-left: 40;
	padding: 0 20 0;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	display:inline-block;
	left: 20;
}
.menu-item2:hover {
	color:#fac461;
}

.menu-item2 a {
	text-decoration: none;
	color:inherit;
}

#photo-wrapper{
	background-color: #dbc5ba;
	border-radius:2%;
}
#photobox{
	display:inline-block;
	padding:10px;
	text-align: center;
	vertical-align: center;
}

#box-wrapper {
	font-size:50;
	font-family: 'Oswald', sans-serif;
	padding-top:210;
	margin-left:50;
	display: inline-block;
	width:300;
}

.red-block {
	background-color: #ba3747;
	width:300px;
	height:300px;
	border-radius:5%;
	margin-bottom:20;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	color: #ba3747;
}

.red-block a {
	text-decoration: none;
	background-color:inherit;
}
.red-block:hover{
	background-color: #dbc5ba;
}
.redtext{
	position: absolute;
	text-align:center;
	width:300px;
	height:300px;
	display:none;
	z-index:2;
}

.redtext a {
	text-decoration: none;
	color:inherit;
}
.red-block:hover .redtext{
	display:block;
}

.hinerz {
	position:absolute;
	z-index:1;
}
.hinerz:hover {
	opacity:0.5;
	filter:alpha(opacity=40);
}

.yellow-block {
	background-color: #fac461;
	width:300px;
	height:300px;
	border-radius:5%;
	margin-bottom:20;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
}

.yellow-block a {
	text-decoration: none;
	background-color:inherit;
}
.yellow-block:hover{
	background-color: #d4c5d4;
}
.yellowtext{
	color: #ba3747;
	transition: opacity 0.15s linear;
	position: absolute;
	text-align:center;
	width:300px;
	height:300px;
	display:none;
	z-index:2;
}

.yellow-block:hover .yellowtext{
	display:block;
}
.yellowtext a {
	text-decoration: none;
	color:inherit;
}


.pink-block { 
	background-color: #f57a7a;
	width:300px;
	height:300px;
	border-radius:5%;
	margin-bottom:20;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	color: #ba3747;
}

.pink-block a {
	text-decoration: none;
	background-color:inherit;
}
.pink-block:hover{
	background-color: #ebe4e8;
}

.pinktext{
	transition: opacity 0.15s linear;
	position: absolute;
	text-align:center;
	width:300px;
	height:300px;
	display:none;
	z-index:2;
}

.pinktext a {
	text-decoration: none;
	color:inherit;
}

.pink-block:hover .pinktext{
	display:block;
}


#brown {
	height:880;
	margin-left:400;
	position:absolute;
	font-size:16px;
	display:inline-block;
	top:210;
	background-color: #f6f0ee;
	border-radius: 2%;
	padding-top:30;
	padding-left:30;
	padding-right:30;
	padding-bottom:30;
	color: #ba3747;
}

/*#footer {
	 position:absolute;
  	 bottom:0;
   	width:100%;
	text-align:left;
	background-color: #ebe4e8;
	padding-top:10;
    padding-bottom:10;
   	padding-left:50;
   	color: #ba3747;
   	z-index:5;
}*/
#hina-img-wrapper {
	display:inline-block;
	position: static;
	padding: 20 20;
}

.link {
	display:inline-block;
	color: #f57a7a;
	transition: 0.2s;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
}
.link a {
	text-decoration: none;
	color:inherit;
}
.link:hover{
	color: #fac461;
}


