{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block css_file %}contact.css{% endblock %}
{% block js_file %}contact.js{% endblock %}
{% block content %}

      <div id = "box-wrapper">
        <div class= "red-block">
        </div>

        <div class= "pink-block">
         <div class="hinerz">
               <img src="{{ STATIC_URL }}img/contact/yuka.jpg" alt="@with yuka in japan" height= "110" width="110">  
           </div>
        </div>

        <div class= "yellow-block">
        </div>

        <div class = "red-block">
          
        </div>

        <div class= "pink-block">
         <div class="hinerz">
               <img src="{{ STATIC_URL }}img/contact/l4d.jpg" alt="@us at GOTY with L4D stuff" height= "110" width="110">  
           </div> 
        </div>

        <div class= "yellow-block">
          
        </div>

        <div class= "red-block">
        </div>

        <div class= "pink-block">
        </div>

        <div class= "yellow-block">

        </div>

        <div class= "red-block">
          <div class="hinerz">
           <img src="{{ STATIC_URL }}img/contact/vgay.jpg" alt="@advertising our decal" height= "110" width="110">
            </div>  
        </div>


      </div>

      <div id = "text">
        <div id = "brown">

          I make a <div class = "link"> <a href= "https://twitter.com/swaggerzaki/status/465708315188539392" target="_blank"> new social media account </a>  </div> just about every semester, just so I can procrastinate on finals week. <br> <br>

          This means that you can reach me at many places. I'll categorize so it's easier for you.<br> <br> 

          <div class = "category-box">
            <div class = "button_yellow"> 
            Basics 
            </div>

             <div class= "button">
             <a href="mailto:hinasakazaki@gmail.com" target="_top">
            Email 
             </a>
            </div>

            <div class = "button">
              <a href= "https://twitter.com/swaggerzaki" target="_blank">
            Tweeter
              </a>
            </div>

            <div class = "button">
              <a href= "https://plus.google.com/u/0/+HinaSakazaki/about" target="_blank">
            Google + 
              </a>
            </div>
          </div>

          <div class = "category-box">
            <div class = "button_yellow">
              Gaming
            </div>

            <div class="button">
              <a href = "http://steamcommunity.com/id/hinerz" target="_blank">
            Steam
              </a>
            </div>

            <div class="button">
            Origin
            </div>

            <div class="button">
              <a href= "http://dotabuff.com/players/86129013" target="_blank">
            Dotabuff
              </a>
              </div>
          </div>

          <div class = "category-box">
            <div class = "button_yellow">
              Hire Me!
            </div>

            <div class="button">
             <a href= "https://www.linkedin.com/in/hinasakazaki" target="_blank">
            LinkedIn
              </a>
            </div>

            <div class="button">
            <a href = "{{ STATIC_URL }}img/contact/resume_sp2016.pdf">
            Resume
            </a>
            </div>

            <div class="button">
              <a href= "https://github.com/hinasakazaki/" target="_blank">
            Github
            </a>
              </div>
          </div>

          <br> <br> 
        Feel free to email me asking about work, video games, or programming.

        <br> <br>

        I realize that there's no real "About Me" section, for two reasons: (1) the whole site is an "About Me". (2) The front page is kind of like a blog post with recent updates, no real "About Me." So I'll just tuck it in here. It'll be a surprise gift (?) for those of you who wanted to contact me. 

        </div>
    </div>

{% endblock %}
  